{% extends "network/layout.html" %}
{% load static %}
{% block script %}
    <script src="{% static 'network/inbox.js' %}"></script>
{% endblock %}

{% block body %}
    <div id="message-buttons">
        <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
        <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
        <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
        <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    </div>
    <hr>

    <div id="emails-view">
    </div>

    <div id="message-view">
        <div id="message"></div>
        <button class="btn btn-sm btn-outline-primary" id="archive">Archive/Restore</button>
        <button class="btn btn-sm btn-outline-primary" id="reply">Reply</button>
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                Subject: <input class="form-control" id="compose-subject">
            </div>
            Message:
            <textarea class="form-control" id="compose-body"></textarea>
            <input type="submit" class="btn btn-primary" id="send" />
        </form>
    </div>
{% endblock %}