{% extends "network/layout.html" %}
{% load static %}
{% block script %}
    <script src="{% static 'network/wizbook.js' %}"></script>
{% endblock %}

{% block body %}

    <div id="create-peg">
        <form action="{% url 'create' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" id="peg-type" name="peg-type" value="{{ view }}">
            Name:<br />
            <input type="text" name="name" placeholder="{{ view }} name"><br />
            Picture:<br />
            <input type="text" name="picture" placeholder="URL for {{ view }} photo"><br />
            Description:<br />
            <textarea name="description" placeholder="description"></textarea><br />
            {% if view == "event" %}
                Date<br />
                <input type="date" name="date"><br />
                Location<br />
                <input type="text" name="location" placeholder="Location"><br />
            {% endif %}
            <input type="submit" value="Create {{ view }}">
            <br /><a href="">Back to {{ view }}s</a>
        </form>
    </div>
    <div id="listings">
        {% if listing %}
            <h4>{{ listing.name }}</h4>
            {% if listing.place %}Location: {{ listing.place }}<br />{% endif %}
            {% if listing.date %}Date: {{ listing.date }}<br />{% endif %}
            {{ listing.description|safe }}<br /><br />
            <img src="{{ listing.picture }}" alt="{{ listing.name }}" height="400px" /><br />
            <div id="comments">
                Comments: <a href="" class="comment" id="{{ view }}{{ listing.id }}">💬</a>
                <span id="numcomments">{{ listing.numcomments }}</span>
                {% for comment in listing.comments %}
                    <br /><img class="tinypic" src="{{ comment.author.profile_picture}}" />{{ comment.author }} ({{ comment.author.first_name }} {{ comment.author.last_name }}) wrote: {{ comment.body }}
                {% endfor %}
            </div>
            <br />
            {% if fans %}
                <br />Page owner:
                <br />{{ listing.owner }}<br />
                <br />Page fans:
                {% for person in listing.people %}
                    <br />{{ person.first_name }} {{ person.last_name }}
                {% endfor %}
            {% endif %}
            {% if attendees %}
                <br />Event organizer:
                <br />{{ listing.owner }}<br />
                <br />Event attendees:
                {% for person in listing.people %}
                    <br />{{ person.first_name }} {{ person.last_name }}
                {% endfor %}
            {% endif %}
            {% if members %}
                <br />Group leader:
                <br />{{ listing.owner }}<br />
                <br />Group members:
                {% for person in listing.people %}
                    <br />{{ person.first_name }} {{ person.last_name }}
                {% endfor %}
            {% endif %}
            <br /><br />
            {% if view == "page" %}<a href="{% url 'like_page' listing.id %}">{% if fan %}Unlike page{% else %}Like page{% endif %}</a>{% endif %}
            {% if view == "event" %}<a href="{% url 'attend_event' listing.id %}">{% if attendee %}Leave event{% else %}Attend event{% endif %}</a>{% endif %}
            {% if view == "group" %}<a href="{% url 'join_group' listing.id %}">{% if member %}Leave group{% else %}Join group{% endif %}</a>{% endif %}
        {% else %}
            <h3>{% if view == "page" %}Pages{% elif view == "event" %}Events{% elif view == "groups" %}Groups{% endif %}</h3>
            <a href="" id="create">Create new {{ view }}</a><br />
            <h5>Your {{ view }}s:</h5>
            {% for listing in contents %}
                {% if listing.owner == request.user %}
                    <p>
                        <h6><a href="{{ view }}s/{{ listing.id }}">{{ listing.name }}</a></h6>
                        {{ listing.description|safe }}<br />
                    </p>
                <hr />
                {% endif %}
            {% endfor %}
            <h5>Other {{ view }}s:</h5>
            {% for listing in contents %}
                {% if listing.owner != request.user %}
                    <p>
                        <h6><a href="{{ view }}s/{{ listing.id }}">{{ listing.name }}</a></h6>
                        {{ listing.description|safe }}
                    </p>
                <hr />
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}