{% extends "network/layout.html" %}
{% load static %}
{% block script %}
    <script src="{% static 'network/wizbook.js' %}"></script>
{% endblock %}

{% block body %}
    {% csrf_token %}
    <div id="user-info">
        <h3>{{ username }}'s profile</h3>
        {% if firstname and lastname %}{{ firstname }} {{ lastname }}<br />{% endif %}
        {% if profile_pic %}<img src="{{ profile_pic }}" alt="{{ username }}" height="400px" /><br />{% endif %}
        {% if email %}Email address: {{ email }}<br />{% endif %}
    </div>
    {% if posts %}
        <div id="posts">
            {% for post in posts %}
                <div class="post">
                    At {{ post.timestamp }}, <a href="http://127.0.0.1:8000/users/{{ post.author.username }}">{{ post.author.username }}</a> ({{ post.author.first_name }} {{ post.author.last_name }}) wrote:<br />
                    <span id="post{{ post.id}}">{{ post.body }}</span><br />
                    <a class="likes" id="likes{{ post.id }}">{{ post.likes }}</a> users like this.
                    {% if user == post.author %}
                    <a href="" class="edit" id="edit{{ post.id }}">✏️</a>
                    {% else %}
                    <a href="" class="like" id="like{{ post.id }}">❤</a>
                    {% endif %}
                    <a href="" class="comment" id="comment{{ post.id }}">💬</a>
                    {% for comment in post.comments %}
                        <p>{{ comment.author.first_name }} {{ comment.author.last_name }} replied: {{ comment.body }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if posts.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    <li class="page-item"><a class="page-link" href="">Page {{ posts.number }}</a></li>
                    {% if posts.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div id="edit-box">
            <form id="edit-form">
                {% csrf_token %}
                <textarea id="edit-body">
                    The innerHTML of this textarea is replaced with the body of the edited post.
                </textarea> <button id="save-edit">Save</button>
            </form>
        </div>
    {% endif %}
{% endblock %}